/* Profile_Others.css */
.profile-others-container {
    display: flex;
    flex-direction: column;  /* 세로로 배치 */
    align-items: center;  /* 가운데 정렬 */
}

.profile-others {
    display: flex;
    align-items: center;  /* 세로 중앙 정렬 */
    margin: 10px;
    width: 200px;  /* 버튼을 넣을 공간을 추가 */
    text-align: left;  /* 텍스트 왼쪽 정렬 */
}

.profile-others-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;  /* 오른쪽 여백 추가 */
    background-color: gray;
}

.profile-details {
    display: flex;
    justify-content: space-between;  /* 이름과 버튼을 양쪽 끝으로 배치 */
    align-items: center;  /* 세로 중앙 정렬 */
    width: 100%;
}

.other-name {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}

.follow-btn {
    background-color: #7FA1C3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
