.explain-board {
    color: #6482AD;
    font: bold 20px Inter;
    margin: 15px;
    position: absolute; /* 위치 고정 */
    top: 170px; /* hr 아래 위치하도록 설정 */
    left: 15%; 
    margin: 0;
    text-align: left; 
    width: 70%;
}
.post-preview-container {  
    display: grid;  
    grid-template-columns: repeat(3, 1fr); 
    flex-wrap: wrap;  
    gap: 20px; 
    justify-content: center;  
    left: 15%; 
    margin-bottom: 70px;
}
