.post-preview-container {  
    display: grid;  
    grid-template-columns: repeat(3, 1fr); /* 3개씩 정렬 */
    gap: 20px; 
    justify-content: center;  
    margin-bottom: 70px;
}

/*TOP 3 게시물*/
.top-posts {
    grid-column: span 3; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    width: 100%;
}

/* 전체 게시물 */
.all-posts {
    grid-column: span 3; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    width: 100%;
}

/* 개별 게시물 크기 조정 */
.post-preview {
    width: 300px;
    height: 250px;
} 

.separator {
    grid-column: span 3; /* 전체 행 차지 */
    width: 100%;
    margin: 20px auto; 
}

.follow-management-wrapper {
    width: 100%;
    margin-bottom: 20px; /* 아래쪽 여백 */
}

.board-mypages-container {
    width: 100%;
    padding: 20px;  /* 여백 추가 */
    box-sizing: border-box;
    background-color: #f5f5f5;  /* 배경 색상 */
    border-radius: 8px;  /* 모서리 둥글게 */
    display: block;  /* 그리드에서 벗어나도록 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto;  /* 가운데 정렬 */
}
