.post-preview-container {  
    display: grid;  
    grid-template-columns: repeat(3, 1fr); /* 3개씩 정렬 */
    gap: 20px; 
    justify-content: center;  
    margin-bottom: 70px;
}

/*TOP 3 게시물*/
.top-posts {
    grid-column: span 3; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    width: 100%;
}

/* 전체 게시물 */
.all-posts {
    grid-column: span 3; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    width: 100%;
}

/* 개별 게시물 크기 조정 */
.post-preview {
    width: 300px;
    height: 250px;
} 

.separator {
    grid-column: span 3; /* 전체 행 차지 */
    width: 100%;
    margin: 20px auto; 
}

.follow-manager-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /* 높이를 100%로 설정 */
    box-sizing: border-box;
}


.board-mypages-container {
    width: 100%;
    padding: 20px;  /* 여백 추가 */
    box-sizing: border-box;
    background-color: #f5f5f5;  /* 배경 색상 */
    border-radius: 8px;  /* 모서리 둥글게 */
      /* 그리드에서 벗어나도록 설정 */
    max-width: none; /* 최대 너비 설정 */
    margin: 0 auto;  /* 가운데 정렬 */
}


.explain-board {
    position: relative;
}
.inBoard-searching-btn, .explain-board input {
    position: absolute;  
    right: 0; 
    top: 0;    
    margin: 5px; 
    color: #7FA1C3;
}

.inBoard-searching-btn {
    margin-left: 10px;
    border: none;
    margin-top: 12px;
    margin-right: 30px;
    background-color: white;
    cursor: pointer;
}
.explain-board input {
    height: 30px;
    width: 200px;
    margin-right: 20px;
    border-radius: 7px;
    border: 1px solid #7FA1C3;
    color: #7FA1C3;
    outline: none;
}