.post-preview {
    background-color: #F5EDED;
    width: 300px;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: bold 15px 'Inter';
    position: relative;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.post-info {
    background-color: white;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    height: 110px;
}

.post-title {
    color: black;
    font-size: 16px;
    margin-bottom: 0px; /* 제목과 작성자 사이 여백 */
}

.post-author {
    color: #6E6E6E;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 2px;
}

.post-stats {
    display: flex;
    justify-content: flex-end; /* 왼쪽으로 정렬 */
    gap: 5px; /* 요소들 간의 간격을 0으로 설정하여 붙여서 표시 */
    font-size: 11px; /* 글자 크기 줄임 */
    color: #666;
    
}

.post-stats span {
    margin-right: 10px; /* 각 항목 사이에 여백을 줄 수 있도록 설정 */
    text-shadow: none;
}

.comments-count,
.likes-count {
    cursor: pointer;
}

.likes-count:hover {
    color: #007BFF;
}

.check-mark {
    position: absolute; /* 부모 요소의 위치를 기준으로 설정 */
    top: 10px; /* 원하는 위치로 조정 */
    right: 10px;
    font-size: 20px;
    color: green; /* 체크 표시 색상 */
    font-weight: bold;
    display: none; /* 기본적으로 숨김 */
}

.post-preview.selected .check-mark {
    display: block; /* 선택된 게시글에서만 체크 표시 보이기 */
}

.post-preview.selected {
    border: 2px solid #007bff; /* 선택된 게시글에 파란색 테두리 */
    background-color: #f0f8ff; /* 선택된 게시글 배경색 */
}

.select-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* 클릭 영역 설정 */
    cursor: pointer;
}

/* PostPreview 내에서만 적용되는 span 스타일 */
.post-preview .post-stats span {
    font-size: 11px;  /* 글자 크기 조정 */
    color: #666;  /* 텍스트 색상 */
    cursor: pointer;  /* 커서 모양을 포인터로 변경 */
}


