.Button{
    cursor: pointer;
    border-width: 1px;
    border-radius: 7px;
    font-size: 15px;
    font-family: "Inter";
    display: flex;             
    justify-content: center;   
    align-items: center;
    width: 50px;      
}
.Button_default{
    background-color:white;
    border-color: #707070;
    color: #707070;
}
.Button_positive{
    background-color: #7FA1C3;
    border-color: #707070;
    color: white;
}
.Button_negative{
    background-color: white;
    border-color: #707070;
    color: #707070;
}
.Button_login-btn, .Button_signup-btn, .Button_move-signup-btn {
    width: 335px;
    height: 45px;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.3s;
}
.Button_login-btn{
    background-color: #7FA1C3;
    color: white;
    margin-top: 20px;
}
.Button_signup-btn{
    background-color: #7FA1C3;
    color: white;
    margin-top: 20px;
}

.login-btn:hover, .signup-btn:hover {
    background-color: #506a94;
}

.cancel-save-btn {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 70%;
    margin-top: 10px;
}

.Button_floating-btn {  /*글쓰기 플로팅 버튼 */
    border: none;
    background-color: #CCCCDD;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    
    position: fixed; /* 화면에 고정 */
    bottom: 70px; 
    right: 17%; 
    z-index: 1000; /* 다른 요소 위로 표시 */
}